openapi: 3.1.0
info:
  title: CV Template Generator API
  version: 1.0.0
servers:
  - url: https://contractquickly.com/.netlify/functions
paths:
  /generateCV:
    post:
      operationId: generateCV
      summary: Generate a professional CV template
      description: >
        This endpoint generates a personalized CV in HTML or PDF format based on user-provided data.
        It returns both the full PDF document and a PNG preview of the first page.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - contactDetails
                - education
                - workExperience
                - skills
              properties:
                name:
                  type: string
                  description: Full name of the CV owner.
                  example: John Doe
                contactDetails:
                  type: object
                  description: Contact details for the CV owner.
                  required:
                    - email
                    - phone
                    - linkedin
                  properties:
                    email:
                      type: string
                      format: email
                      description: Email address of the CV owner.
                      example: john.doe@example.com
                    phone:
                      type: string
                      description: Phone number of the CV owner.
                      example: +123456789
                    linkedin:
                      type: string
                      format: uri
                      description: LinkedIn profile URL of the CV owner.
                      example: https://www.linkedin.com/in/johndoe
                    address:
                      type: string
                      description: Full address or location
                      example: "123 Main St, City, Country"
                professionalSummary:
                  type: string
                  description: A brief overview of professional background and key strengths
                  example: "Experienced software engineer with 5+ years in web development"
                professionalQualifications:
                  type: array
                  description: List of professional certifications and qualifications
                  items:
                    type: string
                  example: ["AWS Certified Developer", "Scrum Master Certification"]
                education:
                  type: array
                  description: List of educational qualifications
                  items:
                    type: object
                    required:
                      - institution
                      - degree
                      - year
                    properties:
                      institution:
                        type: string
                        description: Name of the institution
                        example: University of Example
                      degree:
                        type: string
                        description: Degree earned
                        example: BSc in Computer Science
                      location:
                        type: string
                        description: Institution location
                        example: "Boston, MA"
                      year:
                        type: string
                        description: Year of graduation
                        example: "2023"
                      gpa:
                        type: string
                        description: Grade Point Average
                        example: "3.8/4.0"
                      details:
                        oneOf:
                          - type: string
                          - type: array
                            items:
                              type: string
                        description: Detailed information about the education entry
                        example: ["Dean's List 2020-2021", "Research Assistant"]
                workExperience:
                  type: array
                  description: List of work experiences.
                  items:
                    type: object
                    required:
                      - company
                      - position
                      - duration
                      - responsibilities
                    properties:
                      company:
                        type: string
                        description: Name of the company
                        example: Example Corp
                      position:
                        type: string
                        description: Job title or position
                        example: Software Engineer
                      location:
                        type: string
                        description: Job location
                        example: "San Francisco, CA"
                      subtitle:
                        type: string
                        description: Additional role information
                        example: "Full Stack Development Team"
                      duration:
                        type: string
                        description: Duration of employment
                        example: 2020-2023
                      responsibilities:
                        type: string
                        description: Key responsibilities and achievements (newline separated)
                        example: "Led development of microservices architecture\nImplemented CI/CD pipeline\nMentored junior developers"
                skills:
                  type: object
                  description: Categorized professional skills
                  properties:
                    technical:
                      oneOf:
                        - type: array
                          items:
                            type: string
                        - type: string
                      description: Technical skills and programming languages
                      example: ["JavaScript", "Python", "React"]
                    software:
                      oneOf:
                        - type: array
                          items:
                            type: string
                        - type: string
                      description: Software and tools proficiency
                      example: ["VS Code", "Git", "Docker"]
                    languages:
                      oneOf:
                        - type: array
                          items:
                            type: string
                        - type: string
                      description: Language proficiencies
                      example: ["English (Native)", "Spanish (Fluent)"]
                    certifications:
                      oneOf:
                        - type: array
                          items:
                            type: string
                        - type: string
                      description: Professional certifications
                      example: ["AWS Certified Developer", "MCSD"]
                    interests:
                      oneOf:
                        - type: array
                          items:
                            type: string
                        - type: string
                      description: Personal interests and hobbies
                      example: ["Photography", "Reading", "Hiking"]
                hobbies:
                  type: array
                  description: List of hobbies and interests (optional).
                  items:
                    type: string
                  example: ["Photography", "Reading", "Hiking"]
                references:
                  type: string
                  description: Reference availability statement
                  example: "References available upon request"
      responses:
        "200":
          description: >
            Successfully generated the CV. Returns the CV in multiple formats:
            HTML template, PDF document, and a PNG preview of the first page.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Indicates whether the CV was successfully generated.
                    example: true
                  message:
                    type: string
                    description: A success message indicating the CV was created.
                    example: CV generated successfully
                  cvHtml:
                    type: string
                    description: The complete HTML template of the CV.
                  pdfBase64:
                    type: string
                    description: Base64-encoded PDF version of the CV.
                    format: byte
                  previewImageBase64:
                    type: string
                    description: >
                      Base64-encoded PNG preview of the CV's first page.
                      Generated at 2x scale for better quality.
                    format: byte
        "400":
          description: Invalid input data.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: A brief explanation of the error.
                    example: Missing required fields name, contactDetails.
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: A message describing the server error.
                    example: Failed to generate CV
                  details:
                    type: string
                    description: Additional information about the error, if available.
components:
  schemas: {} 