openapi: 3.1.0
info:
  title: ContractQuickly Template Generator API
  version: 1.0.3
servers:
  - url: https://contractquickly.com/.netlify/functions
paths:
  /generate-template:
    post:
      operationId: generateTemplate
      summary: Generate a DocuSeal-compatible contract
      description: >
        This endpoint creates a DocuSeal template containing signature fields, text fields, and professional HTML formatting.

        **Design Highlights:** The generated contract will feature a professional and clean design with structured paragraphs, headings, and spacing. The backend replaces placeholders such as `{{date}}`, `{{contract_details}}`, and others with the provided data. Contracts must include at least one `<signature-field>` tag to ensure DocuSeal compatibility.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - template
                - parties
                - date
                - contract_details
                - terms
                - start_date
                - end_date
                - termination_clause
              properties:
                template:
                  type: string
                  description: >
                    A complete HTML contract template that includes placeholders for dynamic values. The template should
                    define the layout, styling, and structure of the contract while leaving placeholders such as
                    `{{date}}`, `{{contract_details}}`, and others to be replaced dynamically. It must include at least
                    one `<signature-field>` or `<text-field>` tag to ensure compatibility with DocuSeal's signing
                    system.
                parties:
                  type: array
                  description: >
                    An array of parties involved in the contract. Each party object must include the `name` and `email` fields, which will dynamically populate the contract's placeholders.
                  items:
                    type: object
                    required:
                      - name
                      - email
                    properties:
                      name:
                        type: string
                        description: The full name of the party, e.g., "John Doe".
                      email:
                        type: string
                        format: email
                        description: The email address of the party, e.g., "john.doe@example.com".
                date:
                  type: string
                  format: date
                  example: "19/12/2024"
                  description: >
                    The date when the agreement is created, in the format DD/MM/YYYY.
                contract_details:
                  type: string
                  description: >
                    A detailed description of the contract's purpose and scope. This field populates the `{{contract_details}}` placeholder in the template.
                terms:
                  type: string
                  description: >
                    A description of the terms and conditions agreed upon by the parties. Populates the `{{terms}}` placeholder.
                start_date:
                  type: string
                  format: date
                  example: "01/01/2025"
                  description: >
                    The starting date of the contract in DD/MM/YYYY format. Populates the `{{start_date}}` placeholder.
                end_date:
                  type: string
                  format: date
                  example: "31/12/2025"
                  description: >
                    The ending date of the contract in DD/MM/YYYY format. Populates the `{{end_date}}` placeholder.
                termination_clause:
                  type: string
                  description: >
                    The conditions under which the contract can be terminated. Populates the `{{termination_clause}}` placeholder.
      responses:
        "200":
          description: >
            The contract has been successfully generated. The response includes the fully populated HTML contract, an optional Base64-encoded PDF, and a link to view the contract online.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Indicates whether the contract was successfully generated.
                    example: true
                  contractHtml:
                    type: string
                    description: >
                      The complete HTML contract with all placeholders replaced by their respective values.
                  pdfBase64:
                    type: string
                    description: >
                      A Base64-encoded representation of the contract PDF. This is included only if PDF generation is enabled.
                  contractLink:
                    type: string
                    format: uri
                    description: >
                      A URL to view or download the generated contract.
                  message:
                    type: string
                    description: A success message indicating the contract was created.
                    example: Contract generated successfully!
        "400":
          description: >
            The request is invalid due to missing or improperly formatted required fields. This response includes an error message explaining the issue.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: A brief explanation of the error.
                    example: Missing required fields template, parties.
        "500":
          description: >
            The server encountered an internal error while generating the contract. This could be due to an issue with the DocuSeal API or invalid data.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: >
                      A message describing the server error.
                    example: Internal server error.
                  details:
                    type: string
                    description: Additional information about the error, if available.

components:
  schemas: {}
