openapi: 3.1.0
info:
  title: ContractQuickly Template Generator API
  version: 1.0.2
servers:
  - url: https://contractquickly.com/.netlify/functions
paths:
  /generate-template:
    post:
      operationId: generateTemplate
      summary: Generate a DocuSeal-compatible contract with modern styling
      description: >
        This endpoint creates a DocuSeal template containing signature fields, text fields, and professional HTML
        formatting.

        **Design Highlights:** Create a professional, clean **white design** with clear headings, sections, and spacing. Professional fonts and clean structure.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - template
                - parties
                - date
                - contract_details
                - terms
                - start_date
                - end_date
                - termination_clause
              properties:
                template:
                  type: string
                  description: >
                    A full HTML contract template, including placeholders such as `{{parties[0].name}}` and
                    `{{parties[1].email}}`,  which will be replaced dynamically based on the provided input. The
                    template must include at least one  `<signature-field>` or `<text-field>` tag for DocuSeal
                    compatibility. Ensure readability with structured  paragraphs and modern styling.

                    **Example:**

                    ```html <!DOCTYPE html> <html>
                      <head>
                        <meta charset="UTF-8">
                        <title>Service Agreement</title>
                        <style>
                          body {
                            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                            color: #121212;
                            background-color: white;
                            margin: 40px;
                            line-height: 1.8;
                          }
                          h1, h2 {
                            color: #1a1a1a;
                          }
                          h1 {
                            font-size: 22px;
                          }
                          h2 {
                            font-size: 18px;
                            margin-top: 30px;
                          }
                          p {
                            color: black;
                            margin: 10px 0;
                          }
                          .signature-section {
                            margin-top: 40px;
                            display: flex;
                            justify-content: space-between;
                          }
                          .signature {
                            border-top: 1px solid #4FC3F7;
                            text-align: center;
                            padding-top: 10px;
                            width: 45%;
                          }
                          .signature-field {
                            display: block;
                            margin: 10px auto;
                          }
                        </style>
                      </head>
                      <body>
                        <h1>Service Agreement</h1>
                        <p>
                          This agreement is made on {{date}} between {{parties[0].name}} and {{parties[1].name}}.
                        </p>
                        <div>
                          <h2>Contract Details</h2>
                          <p>{{contract_details}}</p>
                        </div>
                        <div>
                          <h2>Terms</h2>
                          <p>{{terms}}</p>
                        </div>
                        <div>
                          <h2>Contract Duration</h2>
                          <p>Start Date: {{start_date}}<br>End Date: {{end_date}}</p>
                        </div>
                        <div>
                          <h2>Termination Clause</h2>
                          <p>{{termination_clause}}</p>
                        </div>
                        <div class="signature-section">
                          <div class="signature">
                            <span>{{parties[0].name}}'s Signature</span>
                            <signature-field name="Party1" role="Party1" required="true"></signature-field>
                          </div>
                          <div class="signature">
                            <span>{{parties[1].name}}'s Signature</span>
                            <signature-field name="Party2" role="Party2" required="true"></signature-field>
                          </div>
                        </div>
                      </body>
                    </html> ```
                parties:
                  type: array
                  description: >
                    An array of parties involved in the contract. Each party should include a name and an email address.
                    These values will dynamically populate placeholders such as `{{parties.name}}` and
                    `{{parties.email}}`.
                  items:
                    type: object
                    properties:
                      name:
                        type: string
                        description: The full name of the party.
                      email:
                        type: string
                        description: The email address of the party.
                date:
                  type: string
                  description: The agreement date in the format DD/MM/YYYY.
                contract_details:
                  type: string
                  description: A detailed description of the contract's purpose and scope.
                terms:
                  type: string
                  description: The terms and conditions of the agreement.
                start_date:
                  type: string
                  description: The start date of the contract in the format DD/MM/YYYY.
                end_date:
                  type: string
                  description: The end date of the contract in the format DD/MM/YYYY.
                termination_clause:
                  type: string
                  description: The conditions under which the contract can be terminated.
      responses:
        "200":
          description: Contract generated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  contractHtml:
                    type: string
                    description: The generated HTML contract with placeholders replaced.
                  pdfBase64:
                    type: string
                    description: A Base64-encoded PDF version of the contract, if requested.
                  contractLink:
                    type: string
                    format: uri
                    description: A URL to view or download the generated contract.
                  message:
                    type: string
                    example: Contract generated successfully!
        "400":
          description: Missing required fields
components:
  schemas: {}
