openapi: 3.1.0
info:
  title: ContractQuickly Template Generator API
  version: 1.0.5
servers:
  - url: https://contractquickly.com/.netlify/functions
paths:
  /generate-template:
    post:
      operationId: generateTemplate
      summary: Generate a comprehensive contract without placeholders
      description: >
        This endpoint creates a DocuSeal template. **Design Highlights:** The generated contract will feature a professional and clean design with
        structured paragraphs, headings, and spacing. Contracts must include at least one `<signature-field>` tag to
        ensure DocuSeal compatibility.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - template
                - parties
                - date
                - contract_details
                - terms
                - start_date
                - end_date
                - termination_clause
              properties:
                template:
                  type: string
                  description: >
                    A complete HTML contract template that includes placeholders for dynamic values. The template should
                    define the layout, styling, and structure of the contract while leaving placeholders such as
                    `{{date}}`, `{{contract_details}}`, and others to be replaced dynamically. It must include at least
                    one `<signature-field>` or `<text-field>` tag to ensure compatibility with DocuSeal's signing
                    system.
                parties:
                  type: array
                  description: |
                    A list of parties involved in the contract. Each party includes fields like name and email.
                  items:
                    type: object
                    required:
                      - name
                      - email
                    properties:
                      name:
                        type: string
                        description: The full name of the party, e.g., "John Doe".
                      email:
                        type: string
                        format: email
                        description: The email address of the party, e.g., "john.doe@example.com".
                date:
                  type: string
                  format: date
                  example: 2024-12-19
                  description: |
                    The date when the agreement is created, in ISO 8601 format (YYYY-MM-DD).
                contract_details:
                  type: string
                  description: |
                    A detailed description of the purpose and scope of the contract.
                terms:
                  type: string
                  description: |
                    A description of the terms and conditions agreed upon by the parties.
                start_date:
                  type: string
                  format: date
                  example: 2025-01-01
                  description: |
                    The starting date of the contract in ISO 8601 format (YYYY-MM-DD).
                end_date:
                  type: string
                  format: date
                  example: 2025-12-31
                  description: |
                    The ending date of the contract in ISO 8601 format (YYYY-MM-DD).
                termination_clause:
                  type: string
                  description: |
                    The conditions under which the contract can be terminated.
      responses:
        "200":
          description: >
            The contract has been successfully generated. The response includes the fully generated HTML contract, an
            optional Base64-encoded PDF, and a link to view the contract online.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Indicates whether the contract was successfully generated.
                    example: true
                  contractHtml:
                    type: string
                    description: |
                      The complete HTML contract, fully generated without placeholders.
                  pdfBase64:
                    type: string
                    description: |
                      A Base64-encoded representation of the contract PDF, included only if PDF generation is enabled.
                  contractLink:
                    type: string
                    format: uri
                    description: |
                      A URL to view or download the generated contract.
                  message:
                    type: string
                    description: A success message indicating the contract was created.
                    example: Contract generated successfully!
        "400":
          description: >
            The request is invalid due to missing or improperly formatted required fields. This response includes an
            error message explaining the issue.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: A brief explanation of the error.
                    example: Missing required fields template, parties.
        "500":
          description: >
            The server encountered an internal error while generating the contract. This could be due to an issue with
            the DocuSeal API or invalid data.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: |
                      A message describing the server error.
                    example: Internal server error.
                  details:
                    type: string
                    description: Additional information about the error, if available.
components:
  schemas: {}