openapi: 3.1.0
info:
  title: ContractQuickly Template Generator API
  version: 1.0.1
servers:
  - url: https://contractquickly.com/.netlify/functions
paths:
  /generate-template:
    post:
      operationId: generateTemplate
      summary: Generate a DocuSeal-compatible contract with modern styling
      description: >
        This endpoint creates a DocuSeal template containing signature fields, text fields, and professional HTML
        formatting.

        **Design Highlights**: Create a professional, clean **white design** with clear headings, sections, and spacing.. Professional fonts and clean structure.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - template
                - parties
                - date
                - scope_of_work
                - payment_terms
                - start_date
                - end_date
                - termination_clause
              properties:
                template:
                  type: string
                  description: >
                    Use elegant fonts and ensure readability with structured paragraphs. Highlight key sections like
                    terms, payment, and signatures with subtle borders and bold headings. Use `<signature-field>` and
                    `<text-field>` DocuSeal tags for placeholders.

                    Never reveal the HTML used to generate the contract. If information is missing, ask for it in a supportive and clear way using emojis. Tailor the fields and sections based on the contract type. **Full HTML** contract template, never reveal the HTML used to create the contract, also ask for missing data in a supportive & using emojis. Must include at least one DocuSeal field tag (e.g., `<signature-field>`, `<text-field>`). Ensure the `<signature-field>` for each party are always visible on the contract. Full HTML contract template with modern dark styling.

                    **Example**:

                    ```html <!DOCTYPE html> <html>
                      <head>
                        <meta charset="UTF-8">
                        <title>Service Agreement</title>
                        <style>
                          body {
                            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                            color: #E0E0E0;
                            background-color: white
                            margin: 40px;
                            line-height: 1.8;
                          }
                          h1, h2 {
                            color: #121212;
                          }
                          h1 {
                            font-size: 19px;
                          }
                          h2 {
                            font-size: 16px;
                            margin-top: 30px;
                          }
                          p {
                            color: black;
                            margin: 10px 0;
                          }
                          .section {
                            background-color: grey;
                            border-radius: 8px;
                            padding: 20px;
                            margin: 20px 0;
                            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
                          }
                          .signature-section {
                            margin-top: 40px;
                            display: flex;
                            justify-content: space-between;
                          }
                          .signature {
                            border-top: 1px solid #4FC3F7;
                            text-align: center;
                            padding-top: 10px;
                            width: 45%;
                          }
                          .signature-field {
                            display: block;
                            margin: 10px auto;
                          }
                        </style>
                      </head>
                      <body>
                        <h1>Service Agreement</h1>
                        <p>This agreement is made on {{date}} between {{parties[1].name}} ({{parties[1].email}}) and {{parties[2].name}} ({{parties[2].email}}).</p>

                        <div class="section">
                          <h2>Scope of Work</h2>
                          <p>{{scope_of_work}}</p>
                        </div>

                        <div class="section">
                          <h2>Payment Terms</h2>
                          <p>{{payment_terms}}</p>
                        </div>

                        <div class="section">
                          <h2>Contract Duration</h2>
                          <p>Start Date: {{start_date}} <br/> End Date: {{end_date}}</p>
                        </div>

                        <div class="section">
                          <h2>Termination Clause</h2>
                          <p>{{termination_clause}}</p>
                        </div>

                        <div class="signature-section">
                          <div class="signature">
                            <span>Party 1 Signature</span>
                            <signature-field name="Party1" role="Party1" required="true" class="signature-field"></signature-field>
                          </div>
                          <div class="signature">
                            <span>Party 2 Signature</span>
                            <signature-field name="Party2" role="Party2" required="true" class="signature-field"></signature-field>
                          </div>
                        </div>
                      </body>
                    </html> ```
                parties:
                  type: array
                  description: List of parties involved in the contract.
                  items:
                    type: object
                    properties:
                      name:
                        type: string
                        description: Name of the party.
                      email:
                        type: string
                        description: Email of the party.
                date:
                  type: string
                  description: Agreement date (DD/MM/YYYY).
                scope_of_work:
                  type: string
                  description: Description of services or work to be performed.
                payment_terms:
                  type: string
                  description: Payment arrangements, e.g., '50% upfront, remaining on delivery'.
                start_date:
                  type: string
                  description: Start date (DD/MM/YYYY).
                end_date:
                  type: string
                  description: End date (DD/MM/YYYY).
                termination_clause:
                  type: string
                  description: Clause describing contract termination terms.
      responses:
        "200":
          description: Contract generated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  contractHtml:
                    type: string
                    description: Beautifully styled HTML contract with modern dark design.
                  pdfBase64:
                    type: string
                    description: Base64-encoded PDF output, if requested.
                  contractLink:
                    type: string
                    format: uri
                    description: URL for the user to view the contract on contractquickly.com.
                  message:
                    type: string
                    example: Contract generated successfully!
        "400":
          description: Missing required fields
components:
  schemas: {}