openapi: 3.1.0
info:
  title: ContractQuickly Template Generator API
  version: 1.0.0
servers:
  - url: "https://contractquickly.com/.netlify/functions/generate-template" 
paths:
  /generate-template:
    post:
      operationId: generateTemplate
      summary: Generate a docuseal contract using placeholders
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - template
                - party1
                - party2
                - date
                - scope_of_work
                - payment_terms
                - start_date
                - end_date
                - termination_clause
              properties:
                template:
                  type: string
                  description: "HTML contract template with placeholders (e.g. {{party1}}, {{party2}})"
                party1:
                  type: string
                  description: "Name of the first party"
                party2:
                  type: string
                  description: "Name of the second party"
                date:
                  type: string
                  description: "Date in DD/MM/YYYY format"
                scope_of_work:
                  type: string
                  description: "Details of the work or services"
                payment_terms:
                  type: string
                  description: "Payment agreement, e.g. '$5,000 in two installments'"
                start_date:
                  type: string
                  description: "Contract start date"
                end_date:
                  type: string
                  description: "Contract end date"
                termination_clause:
                  type: string
                  description: "Termination conditions or notice period"
      responses:
        '200':
          description: Contract generated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  contractHtml:
                    type: string
                    description: "Generated HTML contract with placeholders replaced"
                  pdfBase64:
                    type: string
                    description: "Base64-encoded PDF"
                  message:
                    type: string
                    description: "Status message"
components:
  schemas: {}