openapi: 3.1.0
info:
  title: ContractQuickly Template Generator API
  version: "1.0.0"

servers:
  - url: "https://contractquickly.com/.netlify/functions"

paths:
  /generate-template:
    post:
      operationId: generateTemplate
      summary: "Generate a DocuSeal-compatible contract with fillable fields"
      description: >
        This endpoint creates a DocuSeal template containing at least one
        signature-field or text-field for e-signing or fillable fields.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - template
                - party1
                - party2
                - date
                - scope_of_work
                - payment_terms
                - start_date
                - end_date
                - termination_clause
              properties:
                template:
                  type: string
                  description: |
                    **Full HTML** contract template. Must include at least one DocuSeal field tag,
                    such as `<signature-field role="Signer" name="Signer Signature" required="true"></signature-field>`.

                    **Example**:

                    ```html
                    <!DOCTYPE html>
                    <html>
                      <head><title>Service Agreement</title></head>
                      <body>
                        <h1>Service Agreement</h1>
                        <p>This agreement is between {{party1}} and {{party2}}.</p>
                        
                        <signature-field
                          name="Party1Signature"
                          role="Party1"
                          required="true">
                        </signature-field>
                        <signature-field
                          name="Party2Signature"
                          role="Party2"
                          required="true">
                        </signature-field>
                        
                        <text-field name="DateField" role="Signer"></text-field>
                        <!-- Additional DocuSeal fields as needed -->
                      </body>
                    </html>
                    ```
                  example: |
                    <!DOCTYPE html>
                    <html>
                      <head>
                        <title>Service Agreement</title>
                      </head>
                      <body>
                        <h1>Service Agreement</h1>
                        <p>This agreement is between {{party1}} and {{party2}} on {{date}}.</p>
                        
                        <signature-field name="Party1Signature" role="Party1" required="true"></signature-field>
                        <signature-field name="Party2Signature" role="Party2" required="true"></signature-field>
                        
                        <text-field name="DateField" role="Signer"></text-field>
                      </body>
                    </html>
                party1:
                  type: string
                  description: "Name of the first party."
                party2:
                  type: string
                  description: "Name of the second party."
                date:
                  type: string
                  description: "Agreement date (DD/MM/YYYY)."
                scope_of_work:
                  type: string
                  description: "Description of services or work to be performed."
                payment_terms:
                  type: string
                  description: "Payment arrangements, e.g. '50% upfront...'."
                start_date:
                  type: string
                  description: "Start date (DD/MM/YYYY)."
                end_date:
                  type: string
                  description: "End date (DD/MM/YYYY)."
                termination_clause:
                  type: string
                  description: "Clause detailing how either party may terminate the agreement."
      responses:
        '200':
          description: "Contract generated successfully"
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  contractHtml:
                    type: string
                    description: "HTML with DocuSeal fields in place."
                  pdfBase64:
                    type: string
                    description: "Base64-encoded PDF output, if requested."
                  contractLink:
                    type: string
                    description: "Link to your webapp's contract page."
                    example: "https://contractquickly.com/contract/464175"
                  previewImageUrl:
                    type: string
                    format: uri
                    description: "Direct link to the DocuSeal-generated preview image."
                    example: "https://docuseal.com/file/abc123/0.png"                   
                  message:
                    type: string
                    example: "Contract generated successfully!"
                    
        '400':
          description: "Missing required fields"

components:
  schemas: {}
