openapi: 3.1.0
info:
  title: ContractQuickly Template Generator API
  version: 1.0.5
servers:
  - url: https://contractquickly.com/.netlify/functions
paths:
  /generate-template:
    post:
      operationId: generateTemplate
      summary: Generate a professional contract templates
      description: >
        This endpoint creates a DocuSeal template. **Design Highlights:** The generated contract will feature a professional and clean design with
        structured paragraphs, headings, and spacing. Contracts must include at least one `<signature-field>` tag to
        ensure DocuSeal compatibility.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - template
                - parties
                - date
                - contract_details
                - terms
                - start_date
                - end_date
                - termination_clause
              properties:
                template:
                  type: string
                  description: >
                    A complete HTML contract template with all party details and placeholders already filled in. Only
                    the following placeholders should remain in the template:
                    - {date}
                    - {contract_details}
                    - {terms}
                    - {start_date}
                    - {end_date}
                    - {termination_clause}
                    
                    The Template must include:
                    `<signature-field>` tags with proper role attributes, for each party



                    **Required HTML Tags:**
                    - `<signature-field role="Party1">` for first party signature
                    - `<signature-field role="Party2">` for second party signature
        
                    **Optional Field Tags:**
                    - `<text-field>` for text input
                    - `<date-field>` for dates
                    - `<checkbox-field>` for checkboxes
                    - `<initials-field>` for initials
        
                    Each field tag supports these attributes:
                    - `name`: Field identifier
                    - `role`: Party role (Party1/Party2)
                    - `required`: true/false (default: true)
                    - `readonly`: true/false (default: false)

                    **Example Template Structure:**
                    ```html
                    <div>
                      <p>Party 1 Signature:</p>
                      <signature-field role="Party1" name="Signature1" style="width: 200px; height: 80px;"></signature-field>
          
                      <p>Party 2 Signature:</p>
                      <signature-field role="Party2" name="Signature2" style="width: 200px; height: 80px;"></signature-field>
                    </div>
                    ```
                    **Example:**
                    ```html
                    <div style="padding: 20px;">
                      <!-- Party details -->
                      <p>This agreement is made between John Doe (john.doe@example.com) and Jane Smith (jane.smith@example.com)</p>
                      
                      <!-- Required signature fields -->
                      <div style="margin-top: 40px;">
                        <div style="float: left; width: 45%;">
                          <p>Party 1:</p>
                          <signature-field role="Party1" name="FirstPartySignature" style="width: 200px; height: 80px;"></signature-field>
                          <date-field role="Party1" name="FirstPartyDate" style="width: 150px; height: 30px;"></date-field>
                        </div>
                        
                        <div style="float: right; width: 45%;">
                          <p>Party 2:</p>
                          <signature-field role="Party2" name="SecondPartySignature" style="width: 200px; height: 80px;"></signature-field>
                          <date-field role="Party2" name="SecondPartyDate" style="width: 150px; height: 30px;"></date-field>
                        </div>
                      </div>
                    </div>
                    ```

                parties:
                  type: array
                  description: |
                    A list of parties involved in the contract. Each party includes fields like name, email, and role.
                    These parties will be automatically added as DocuSeal submitters.
                  minItems: 1
                  maxItems: 2
                  items:
                    type: object
                    required:
                      - name
                      - email
                      - role
                    properties:
                      name:
                        type: string
                        description: The full name of the party, e.g., "John Doe"
                        example: "John Doe"
                      email:
                        type: string
                        format: email
                        description: The email address of the party, e.g., "john.doe@example.com"
                        example: "john.doe@example.com"
                      role:
                        type: string
                        enum: ["Party1", "Party2"]
                        description: |
                          The role of the party in DocuSeal. Must be either "Party1" or "Party2".
                          - Party1 is typically the disclosing party or the first signer
                          - Party2 is typically the receiving party or the second signer
                        example: "Party1"
                      fields:
                        type: array
                        description: Optional DocuSeal fields for this submitter
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                            value:
                              type: string
                        default: []
                date:
                  type: string
                  format: date
                  example: 2024-12-19
                  description: |
                    The date when the agreement is created, in ISO 8601 format (YYYY-MM-DD).
                contract_details:
                  type: string
                  description: |
                    A detailed description of the purpose and scope of the contract.
                terms:
                  type: string
                  description: |
                    A description of the terms and conditions agreed upon by the parties.
                start_date:
                  type: string
                  format: date
                  example: 2025-01-01
                  description: |
                    The starting date of the contract in ISO 8601 format (YYYY-MM-DD).
                end_date:
                  type: string
                  format: date
                  example: 2025-12-31
                  description: |
                    The ending date of the contract in ISO 8601 format (YYYY-MM-DD).
                termination_clause:
                  type: string
                  description: |
                    The conditions under which the contract can be terminated.
      responses:
        "200":
          description: >
            The contract has been successfully generated. The response includes the fully generated HTML contract, an
            optional Base64-encoded PDF, and a link to view the contract online.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Indicates whether the contract was successfully generated.
                    example: true
                  contractHtml:
                    type: string
                    description: |
                      The complete HTML contract, fully generated without placeholders.
                  pdfBase64:
                    type: string
                    description: |
                      A Base64-encoded representation of the contract PDF, included only if PDF generation is enabled.
                  contractLink:
                    type: string
                    format: uri
                    description: |
                      A URL to view or download the generated contract.
                  message:
                    type: string
                    description: A success message indicating the contract was created.
                    example: Contract generated successfully!
                  submissionDetails:
                    type: object
                    properties:
                      submissionId:
                        type: string
                        description: The DocuSeal submission ID
                      submitters:
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                            email:
                              type: string
                            role:
                              type: string
                            status:
                              type: string
                              enum: ["pending", "completed"]
        "400":
          description: >
            The request is invalid due to missing or improperly formatted required fields. This response includes an
            error message explaining the issue.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: A brief explanation of the error.
                    example: Missing required fields template, parties.
        "500":
          description: >
            The server encountered an internal error while generating the contract. This could be due to an issue with
            the DocuSeal API or invalid data.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: |
                      A message describing the server error.
                    example: Internal server error.
                  details:
                    type: string
                    description: Additional information about the error, if available.
components:
  schemas: {}