openapi: 3.1.0
info:
  title: ContractQuickly Template Generator API
  version: 1.0.0
servers:
  - url: https://contractquickly.com/.netlify/functions
paths:
  /generate-template:
    post:
      operationId: generateTemplate
      summary: Generate a DocuSeal-compatible contract with fillable fields
      description: >
        This endpoint creates a DocuSeal template containing at least one signature-field or text-field for e-signing or
        fillable fields. Contracts should be fully beautifully styled, with a notion-like design, professional HTML documents with placeholders for DocuSeal
        fields.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - template
                - party1
                - party2
                - date
                - scope_of_work
                - payment_terms
                - start_date
                - end_date
                - termination_clause
              properties:
                template:
                  type: string
                  description: |
                    **Full HTML** contract template, including basic styles for a professional look.
                    Must include at least one DocuSeal field tag (e.g., `<signature-field>`, `<text-field>`).
                    Ensure the `<signature-field>` for each party are always visible on the contract.
                    **Style Tips**:
                    - Define `<style>` in the `<head>` with fonts, margins, colors.
                    - Use headings `<h2>`, `<h3>` for sections (Scope of Work, Payment Terms, etc.).
                    - Include placeholders for dynamic fields (e.g., `{{party1}}`) or DocuSeal `<text-field>` tags.

                    **Example**:
                    ```html
                    <!DOCTYPE html>
                    <html>
                      <head>
                        <meta charset="UTF-8">
                        <title>Service Agreement</title>
                        <style>
                          body {
                            font-family: Arial, sans-serif;
                            margin: 40px;
                            line-height: 1.6;
                          }
                          h1 {
                            color: #2563eb;
                            margin-bottom: 20px;
                          }
                          h2 {
                            color: #1e40af;
                            margin-top: 30px;
                            margin-bottom: 15px;
                          }
                          p {
                            margin: 10px 0;
                          }
                          .signature-section {
                            margin-top: 40px;
                          }
                        </style>
                      </head>
                      <body>
                        <h1>Service Agreement</h1>
                        <p>This agreement is made on {{date}} between {{party1}} and {{party2}}.</p>
                        <h2>Scope of Work</h2>
                        <p>{{scope_of_work}}</p>
                        <h2>Payment Terms</h2>
                        <p>{{payment_terms}}</p>
                        <h2>Contract Duration</h2>
                        <p>Start Date: {{start_date}} <br/> End Date: {{end_date}}</p>
                        <h2>Termination Clause</h2>
                        <p>{{termination_clause}}</p>
                        
                        <div class="signature-section">
                          <signature-field name="Party1Signature" role="Party1" required="true">
                          </signature-field>
                          <br/>
                          <signature-field name="Party2Signature" role="Party2" required="true">
                          </signature-field>
                        </div>
                      </body>
                    </html>
                    ```
                  example: |
                    <!DOCTYPE html>
                    <html>
                      <head>
                        <title>Service Agreement</title>
                        <style>
                          body { font-family: Arial, sans-serif; margin: 40px; line-height: 1.6; }
                          h1 { color: #2563eb; margin-bottom: 20px; }
                        </style>
                      </head>
                      <body>
                        <h1>Service Agreement</h1>
                        <p>This agreement is entered into on {{date}} between {{party1}} and {{party2}}.</p>
                        
                        <signature-field name="Party1Signature" role="Party1" required="true"></signature-field>
                        <signature-field name="Party2Signature" role="Party2" required="true"></signature-field>
                        
                        <text-field name="DateField" role="Signer"></text-field>
                      </body>
                    </html>
                party1:
                  type: string
                  description: Name of the first party.
                party2:
                  type: string
                  description: Name of the second party.
                date:
                  type: string
                  description: Agreement date (DD/MM/YYYY).
                scope_of_work:
                  type: string
                  description: Description of services or work to be performed.
                payment_terms:
                  type: string
                  description: Payment arrangements, e.g. '50% upfront...'.
                start_date:
                  type: string
                  description: Start date (DD/MM/YYYY).
                end_date:
                  type: string
                  description: End date (DD/MM/YYYY).
                termination_clause:
                  type: string
                  description: Clause detailing how either party may terminate the agreement.
      responses:
        "200":
          description: Contract generated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  contractHtml:
                    type: string
                    description: HTML with DocuSeal fields in place, professionally styled.
                  pdfBase64:
                    type: string
                    description: Base64-encoded PDF output, if requested.
                  contractLink:
                    type: string
                    format: uri
                    description: URL for the user to view the contract on contractquickly.com.
                  message:
                    type: string
                    example: Contract generated successfully!
        "400":
          description: Missing required fields
components:
  schemas: {}
