openapi: 3.1.0
info:
  title: ContractQuickly Template Generator API
  version: 1.0.0
servers:
  - url: "https://contractquickly.com/.netlify/functions/generate-template" 
paths:
  /generate-template:
    post:
      operationId: generateTemplate
      summary: Generate a customized contract template (HTML/PDF)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: 
                - party1
                - party2
                - date
                - scope_of_work
                - payment_terms
                - start_date
                - end_date
                - termination_clause
              properties:
                party1:
                  type: string
                  description: Name of the first party
                party2:
                  type: string
                  description: Name of the second party
                date:
                  type: string
                  description: Contract start date (e.g. 14/01/2025)
                scope_of_work:
                  type: string
                  description: Description of the work or service
                payment_terms:
                  type: string
                  description: Terms of payment (e.g. "Total of £20 on completion")
                start_date:
                  type: string
                  description: Contract start date
                end_date:
                  type: string
                  description: Contract end date
                termination_clause:
                  type: string
                  description: Clause explaining termination conditions
                template:
                  type: string
                  description: HTML template with placeholders
      responses:
        '200':
          description: Template generated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  contractHtml:
                    type: string
                    description: HTML output with placeholders filled
                  pdfBase64:
                    type: string
                    description: Base64-encoded PDF of the contract
                  message:
                    type: string
                  templateId:
                    type: string
                  contractLink:
                    type: string
                    description: Link to the contract webpage
components:
  schemas: {}