openapi: 3.1.0
info:
  title: ContractQuickly Template Generator API
  version: 1.0.0
servers:
  - url: "https://contractquickly.com/.netlify/functions"
paths:
  /generate-template:
    post:
      operationId: generateTemplate
      summary: "Generate a DocuSeal-compatible contract with fillable fields"
      description: |
        This endpoint creates a DocuSeal template containing at least one signature-field
        or text-field for e-signing or fillable fields.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - template
                - party1
                - party2
                # ... other placeholders
              properties:
                template:
                  type: string
                  description: |
                    **Full HTML** contract template. Must include at least one DocuSeal field tag
                    such as <signature-field role="Signer" name="Signer Signature" required="true"></signature-field>.
                    
                    Example:
                    <!DOCTYPE html>
                    <html>
                      <head><title>Service Agreement</title></head>
                      <body>
                        <h1>Service Agreement</h1>
                        <p>This agreement is between {{party1}} and {{party2}}.</p>
                        
                        <signature-field 
                          name="Party1Signature" 
                          role="Party1" 
                          required="true">
                        </signature-field>
                        <signature-field 
                          name="Party2Signature" 
                          role="Party2" 
                          required="true">
                        </signature-field>
                        
                        <text-field name="DateField" role="Signer"></text-field>
                        <!-- Additional fields as needed -->
                      </body>
                    </html>
                  example: |
                    <!DOCTYPE html>
                    <html>
                      <head><title>Service Agreement</title></head>
                      <body>
                        <h1>Service Agreement</h1>
                        <p>This agreement is between {{party1}} and {{party2}}.</p>
                        
                        <signature-field name="Party1Signature" role="Party1" required="true"></signature-field>
                        <signature-field name="Party2Signature" role="Party2" required="true"></signature-field>
                        
                        <text-field name="DateField" role="Signer"></text-field>
                      </body>
                    </html>
                party1:
                  type: string
                  description: "Name of the first party."
                party2:
                  type: string
                  description: "Name of the second party."
                # ... date, payment_terms, etc.
      responses:
        '200':
          description: "Contract generated successfully"
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  contractHtml:
                    type: string
                    description: "HTML with DocuSeal fields in place."
                  pdfBase64:
                    type: string
                    description: "Base64-encoded PDF"
                  message:
                    type: string
        '400':
          description: "Missing required fields"

components:
  schemas: {}